/*Rood - #FF6A5D*/

* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #FF6A5D !important;
}

.active {
  color: #FF6A5D !important;
}

.btn-cards {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

.btn-cards:hover {
  color: white;
  background-color: #FF6A5D;
}

.btnHome {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
}

.btnHome a  {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}

.btnHome a:before,
.btnHome a:after  {
  position: absolute;
  content: "About me";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #FF6A5D;
  box-sizing: border-box;
  border-radius: 5px;
}

.btnHome a:before {
  color: #fff;
  background: #FF6A5D;
  transform: rotateY(0deg) translateZ(25px);
}

.btnHome a:after  {
  color: #FF6A5D;
  transform: rotateX(90deg) translateZ(25px);
}

.btnHome a:hover  {
  transform: translateZ(-25px) rotateX(-90deg);
}

.btn-zwart {
  background-color: transparent;
  border: solid 1px white;
  width: 200px;
  height: 150px;
  color: white;
  border-radius: 5px;
}

.btn-rood {
  background-color: #FF6A5D;
  border: solid 1px white;
  width: 200px;
  height: 150px;
  color: white;
  border-radius: 5px;
}

.bi-linkedin {
  color: white;
}

.bi-linkedin:hover {
  color: #FF6A5D;
}

.bi-github {
  color: white;
}

.bi-github:hover {
  color: #FF6A5D;
}
 
.bi-envelope-fill {
  color: white;
}

.bi-envelope-fill:hover {
  color: #FF6A5D;
}

@media only screen and (max-width: 800px) {
  .navbar-brand {
    display: none;
  }
}