/*Rood - #FF6A5D*/

* {
  margin: 0px;
  padding: 0px;
}

.btnHome {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
}

.btnHome a  {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}

.btnHome a:before,
.btnHome a:after  {
  position: absolute;
  content: "About me";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #FF6A5D;
  box-sizing: border-box;
  border-radius: 5px;
}

.btnHome a:before {
  color: #fff;
  background: #FF6A5D;
  transform: rotateY(0deg) translateZ(25px);
}

.btnHome a:after  {
  color: #FF6A5D;
  transform: rotateX(90deg) translateZ(25px);
}

.btnHome a:hover  {
  transform: translateZ(-25px) rotateX(-90deg);
}
 